<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="\stylesheets\main.css">
    <link rel="stylesheet" href="\stylesheets\bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <script src="\stylesheets\myfunction.js"></script>
    
</head>
<body>
<section class="jumbotron text-center">
    <div class="container"><br><br>
        <h4 class="display-4 typewriter"><div class="typewriter-text"> Write your sentiment...</div></h4>
        <div>
            <textarea placeholder="Describe your mood here.." id="mood" class="late"></textarea>
        </div>
        <br>
        <a href="/emote" class="late1 btn btn-primary" onclick="myfunction()"><span>Your mood is</span></a>       
    </div>
</section>
<script type="module" src="\stylesheets\myfunction.js"></script>
</body>
</html>