<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\stylesheets\bootstrap.css">
    <link rel="stylesheet" href="\stylesheets\wel.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div id="hg" class="text-center mt-5">
                <br><br><h1><strong>SENTIMENT BASED MUSIC PLAYER USING AFINN DICTIONARY AND JAVASCRIPT</strong></h1><br><br>
                <a href="/main"><button type="button" class="btn btn-outline-warning hi1 d1">Explore            <i class="yo fab fa-wpexplorer"></i> </button></a>
            </div>
        </div>
    </section>
</body>

</html>